In [1]:
#iterable means perform an action for every object

In [2]:
#string is iterable

In [6]:
#syntax
'''
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)
'''

'\nmy_iterable = [1,2,3]\nfor item_name in my_iterable:\n    print(item_name)\n'

In [7]:

my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [8]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [9]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [9]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [10]:
#variable name num is arbitrary

In [11]:
for num in mylist:
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [14]:
for num in mylist:
    #check for even
    if num % 2 ==0:
        print(num)
    else:
        print(f'odd number: {num}')

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9
10

In [16]:
list_sum= 0

for num in mylist:
    list_sum=list_sum+num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [17]:
list_sum= 0

for num in mylist:
    list_sum=list_sum+num
    
print(list_sum)

55

In [19]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [20]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [21]:
mylist= [(1,2),(3,4),(5,6),(7,8)]

In [22]:
len(mylist)

4

In [23]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [26]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [28]:
#tuple unpacking above

In [30]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [31]:
for a,b,c in mylist:
    print(b)

2
6
9

In [34]:
d = {'k1':1, 'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [35]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [36]:
for key,value in d.items():
    print(value)

1
2
3

In [37]:
for value in d.values():
    print(value)

1
2
3